:root {
    background-color: #262626;
    color: white;
    background-size: 1300px 1700px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-image: url("./background.png");
    background-color: black;
}

button {
    margin: 5px;
    background: transparent;
    border-radius: 45%;
    border: 0.8px solid cyan;
    color: cyan;
}

button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}