:root {
    --page-width: 1300px;
    background-color: #262626;
    color: white;
    width: var(--page-width);
    margin: 0 auto;
    background-size: var(--page-width) 1700px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-image: url("./background.png");
    background-color: black;
}

div.App {
    height: 2000px;
}

button {
    margin: 5px;
    background: transparent;
    border-radius: 45%;
    border: 0.8px solid cyan;
    color: cyan;
}

button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}

hr {
    border:0.1px solid cyan;
    width: 100%;
}

footer {
    text-align: center;
}

/* .twitter-icon {

} */