div.LeaderboardRanks {
    --main-content-width: 950px;
    font-size: 20px;
}

button.nav-page-button {
    width: 110px;
    height: 50px;
    font-size: 24px;
}

button:disabled {
    color: grey;
}

.nav-page, .nav-page-bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    width: var(--main-content-width);
    margin: 0 auto;
}

.page-num {
    flex-grow: 1;
    font-size: 26px;
}

.nav-page-buttons-and-num {
    margin: 10px auto;
}

th {
    text-align: left;
}

table {
    width: var(--main-content-width);
    margin: 10px auto;
    border: 1px solid cyan;
    background: linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(48,9,121,0.89539565826330536) 42%, rgba(0,212,255,0.80940126050420167) 85%);
}    